<h1>Подтвердите вашу почту</h1>

<p>
    Подтвердите вашу почту: <br><br>
    <a href="{{ signedUrl }}">Подтвердить</a>.
     {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

